
</body>
<script type="text/javascript" src="/static/js/tab.js"></script>

<script>
              // 基于准备好的dom，初始化echarts实例
              var myChart = echarts.init(document.getElementById('main'));
        
              // 指定图表的配置项和数据
              var option = {
                title: {
                  text: 'ECharts 入门示例'
                },
                tooltip: {},
                legend: {
                  data: ['销量']
                },
                xAxis: {
                  data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']
                },
                yAxis: {},
                series: [
                  {
                    name: '销量',
                    type: 'bar',
                    data: [5, 20, 36, 10, 10, 20]
                  }
                ]
              };
        
              // 使用刚指定的配置项和数据显示图表。
              myChart.setOption(option);
              var pieEdu = echarts.init(document.getElementById('pieEdu'));
              var optionE = {
  tooltip: {
    trigger: 'item'
  },
  legend: {
    top: '5%',
    left: 'center'
  },
  series: [
    {
      name: 'Access From',
      type: 'pie',
      radius: ['40%', '70%'],
      avoidLabelOverlap: false,
      itemStyle: {
        borderRadius: 10,
        borderColor: '#fff',
        borderWidth: 2
      },
      label: {
        show: false,
        position: 'center'
      },
      emphasis: {
        label: {
          show: true,
          fontSize: 40,
          fontWeight: 'bold'
        }
      },
      labelLine: {
        show: false
      },
      data: [
        { value: 1048, name: '专科' },
        { value: 1048, name: '本科' },
        { value: 735, name: '硕士' },
        { value: 580, name: '博士' },

      ]
    }
  ]
};
              pieEdu.setOption(optionE);


    function jump(url) {
        location.href=url
      }
    function showModal(namee) { 
      document.querySelector(namee).classList.add("is-active")
     }
     function hide(namee) { 
      document.querySelector(namee).classList.remove("is-active")
     }
     function hideResume() {
      document.getElementById("myModal").style.display = "none";
       }
       function showResume(){
        document.getElementById('myModal').style.display='block';
       }

       
</script>
</html>