
</body>
<script type="text/javascript" src="/static/js/tab.js"></script>
<script> 
    function jump(url) {
        location.href=url
      }
    function showModal(namee) { 
      document.querySelector(namee).classList.add("is-active")
     }
     function hide(namee) { 
      document.querySelector(namee).classList.remove("is-active")
     }
     function hideResume() {
      document.getElementById("myModal").style.display = "none";
       }
       function showResume(){
        console.log('ok');
        document.getElementById('myModal').style.display='block';
        document.getElementById('topNavbar').style.display='none';
       }
</script>
</html>