<!DOCTYPE html>
<html>
    <head>
        <title><%= tittle%></title>
        <link rel="stylesheet" href="/static/css/style.css" type="text/css">

    </head>
    <body>

<div class="box" style="background-color:hsl(0, 0%, 96%) ;">
            <nav class="navbar is-light" role="navigation" aria-label="main navigation" >
                <div class="navbar-brand">
                  <a class="navbar-item" >
                    
                  </a>
                  <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                </div>
                <div id="navbarBasicExample" class="navbar-menu">
                  <div class="navbar-start">
                    <a class="navbar-item" onclick="jump('/')">
                      首页
                    </a>

                         
                    <a class="navbar-item" onclick="jump('/all-resume')">
                      人才库
                    </a>

                      <a class="navbar-item" onclick="jump('/job-discription')">
                        人岗匹配
                      </a>
                      
                  </div>
              
                  <div class="navbar-end">
                    <div class="navbar-item">
                      <div class="buttons">
                        
                        <a class="button is-primary">
                            <strong>登录</strong>
                        </a>
                        <a class="navbar-item" onclick="jump('/')">
                          <% include upload.html %>   
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
</div>
        <!--</div>-->
