<button id="myBtn" class="button is-primary is-light is-small" onclick="showResume()">点击查看</button>
  <div id="myModal">
    <div class="modal-content" id="Mycontent">
      <span class="close" onclick="hideResume()">&times;</span>
      <div style="margin:3% "class="tile is-ancestor" >
          <div class="tile  is-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>arrow-left</title><path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" /></svg>
          </div>
          <div class="card is-parent tile is-vertical">
            <header class="columns  content ">
              <div class="column is-2">
                <figure class="image is-64x64">
                  <img src=<%= info.img %>>
                </figure>
              </div>
              <div class="column">
                  <ul>
                    <li>
                      <strong>姓名:</strong><%= info.name %>
                    </li>
                    <li>
                      <strong>姓名:</strong><%= info.edu %>
                    </li>
                  </ul>
              </div>
              <div class="column">
                <ul>
                  <li>
                    <strong>姓名:</strong>yhn
                  </li>
                  <li>
                    <strong>姓名:</strong>yhn
                  </li>
                </ul>
              </div>
              <div class="column">
                <div class="dropdown is-hoverable">
                  <div class="dropdown-trigger">
                    <button class="button dropbtn" aria-haspopup="true" aria-controls="dropdown-menu3" onclick="document.querySelector('.dropdown').classList.add('is-active');">
                      <span>加入分组</span>
                      <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </button>
                  </div>
                  <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                    <div class="dropdown-content">
                      <a href="#" class="dropdown-item">
                        Overview
                      </a>
                      <a href="#" class="dropdown-item">
                        Modifiers
                      </a>
                      <a href="#" class="dropdown-item">
                        Elements
                      </a>
                      <a href="#" class="dropdown-item">
                        Components
                      </a>
                      <a href="#" class="dropdown-item">
                        Layout
                      </a>
                      <hr class="dropdown-divider">
                      <a href="#" class="dropdown-item">
                        More
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </header>
            <div class="card-content">
              <div class="tabs ">
                <ul>
                  <li class="is-active"><a>简历原件</a></li>
                  <li><a>基本信息</a></li>
                </ul>
              </div>
              <div class="tab_con">
                <div class="item" style="display: block;">
                  <p>很好</p>
                </div>
                <div class="item" style="display:none;">
                  <% include resume_tabcontent.html %>
                </div>
              </div>
            </div>
          </div>
          <div class="tile is-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>arrow-right</title><path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z" /></svg>
          </div>
        </div>
  </div>
</div>