<table class="table is-fullwidth is-hoverable"  ;">
    <thead>
      <tr>
      <th>姓名</th>
      <th>毕业院校</th>
      <th>技能</th>
      <th>点击查看</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>nana</td>
        <td>whut</td>
        <td>eat</td>
        <td>
          <% include resume.html %>
        </td>
      </tr>
      <tr>
        <td>nana</td>
        <td>whut</td>
        <td>eat</td>
        <td>
            <% include resume.html %>
          </td>
      </tr>
      <tr>
        <td>nana</td>
        <td>whut</td>
        <td>eat</td>
        <td>
            <% include resume.html %>
          </td>
      </tr>
      <tr>
        <td>nana</td>
        <td>whut</td>
        <td>eat</td>
        <td>
            <% include resume.html %>
          </td>
      </tr>
      <tr>
        <td>nana</td>
        <td>whut</td>
        <td>eat</td>
        <td>
            <% include resume.html %>
          </td>
      </tr>
    </tbody>
  </table>