<% include component/navbar.html %>
<div class="level" style="margin-top: 1%;" >

</div>
<div class="tile is-ancestor" style="margin: 1%;">
    <div class="tile is-vertical is-6">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary">
              <p>hh</p>
          </article>
          <article class="tile is-child notification is-light">
          </article>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child notification is-primary" id="pie">
            
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-primary">
          <p class="title">Wide tile</p>
          <p class="subtitle">Aligned with the right tile</p>
          <div class="content">
            <!-- Content -->
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent" id="main">
    </div>
  </div>
<% include component/footer.html %>