<% include component/navbar.html %>

<div class="tile is-ancestor" style="margin: 1%;" id="charts">
    <div class="tile is-vertical is-6">
      <div class="tile">
        <div class="tile is-parent is-vertical">

            <section class="tile section is-child">
              <p class="heading">人才总数</p>
              <p class="title">123</p>
            </section>

          <article class="tile is-child notification is-light">
            <p class="heading">人才总数</p>
              <p class="title">123</p>
          </article>
        </div>
        <div class="tile is-parent is-8">
          <div class="tile is-child notification " id="pieEdu">
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-primary">
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Tweets</p>
                <p class="title">3,456</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Following</p>
                <p class="title">123</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Followers</p>
                <p class="title">456K</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Likes</p>
                <p class="title">789</p>
              </div>
            </div>
          </nav>
        </article>
      </div>
    </div>
    <div class="tile is-parent" id="main">
    </div>
  </div>
<% include component/footer.html %>